[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
pytest = "*"
wrapt = {editable = true, path = "."}

[packages]
click = "*"
toml = "*"

[requires]
python_version = "3.8"
